<!-- Adding the NavBar -->
<!-- NAVIGATION BAR -->
<nav ng-app="auth" role="navigation" id="nav-top">
    <!--Brand-->
    <div class="topbar-left text-center">
            <div class="navbar-icon"></div>
    </div>
    <!--Nav items-->

    <ul class="topbar-right">

        <li>
            <div ng-controller="SigninController" ng-cloak>
                <div id="container">
                    <form ng-submit="login()">
                        <input ng-model="user.email" type="name" placeholder="Company Email">
                        <input type="password" ng-model="user.password" placeholder="Password">
                        <div id="lower">
                            <input type="submit" value="Sign In">
                            <input ng-show="!appConfig.isMobile" type="checkbox" id="signinCheck">
                            <label ng-show="!appConfig.isMobile" class="check" for="checkbox"> Remember Me </label>


                            <a ng-show="!appConfig.isMobile" href="#/recovery" id="help">Forgot Password?</a>

                        </div>
                    </form>
                    <div id="signup">
                        <p  id="error_message">{{errMessage}}</p>
                    </div>

                </div>
                <div ng-show="!appConfig.isMobile" class="register">
                    <a href="#/register">Create an account</a>
                </div>
            </div>
        </li>
        <li></li>
    </ul>
</nav>




<div ng-controller="HomeController">
    <div class="jumbotron text-center" ng-cloak=>
        <h1>The Home Page</h1>
        <p> click <a href="/#/signin">here</a> for signin</p>
    </div>
</div>


