 <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
  <div id="sidebar-wrapper">
    <ul class="sidebar">
      <li class="sidebar-main">
        <a ng-click="toggleSidebar()">
          {{sidebarHeader}}
          <span class="menu-icon glyphicon glyphicon-transfer"></span>
        </a>
      </li>
      <li ng-repeat="option in options" class="sidebar-list">
        <a href="#/{{option.link}}">
          {{option.option}}
          <span ng-show="toggle" class="arrow-left"></span>
          <span class="{{option.icon}}" ng-class="{enabled: toggle, disabled: !toggle}"></span>
        </a>
      </li>
      <li class="sidebar-profile">
        <!--TODO:Add working image-->
        <!--<img class="sidebar-profile-img" src="">-->
        <a href="#">
          <div class="sidebar-profile-title">{{company_name}}</div>
          <div class="sidebar-profile-subtitle">{{email}}</div>
        </a>
      </li>
      
    </ul>
  </div>
</div>